{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Ctrl.Tareas by R@</h1>
        <strong class="text-center">App desarrollada en Phyton (Django + Boostrap + SQLLite 3) </strong>
        <br>
        <p>lerem ipsum dolor sit amet consectetur, dolor sit amet consectetur dolor sit amet consectetur dolor sit amet
            consectetur lerem ipsum dolor sit amet consectetur, dolor sit amet consectetur dolor sit amet consectetur
            dolor
            sit
            amet consecteturlerem ipsum dolor sit amet consectetur, dolor sit amet consectetur dolor sit amet
            consectetur
            dolor
            sit amet consecteturlerem ipsum dolor sit amet consectetur, dolor sit amet consectetur dolor sit amet
            consectetur
            dolor sit amet consecteturlerem ipsum dolor sit amet consectetur, dolor sit amet consectetur dolor sit amet
            consectetur dolor sit amet consecteturlerem ipsum dolor sit amet consectetur, dolor sit amet consectetur
            dolor
            sit
            amet consectetur dolor sit amet consecteturlerem ipsum dolor sit amet consectetur, dolor sit amet
            consectetur
            dolor
            sit amet consectetur dolor sit amet consecteturlerem ipsum dolor sit amet consectetur, dolor sit amet
            consectetur
            dolor sit amet consectetur dolor sit amet consecteturlerem ipsum dolor sit amet consectetur, dolor sit amet
            consectetur dolor sit amet consectetur dolor sit amet consecteturlerem ipsum dolor sit amet consectetur,
            dolor
            sit
            amet consectetur dolor sit amet consectetur dolor sit amet consectetur</p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin">Ingresar</a>
            <a class="btn btn-secondary" href="/signup">Registrarse</a>
        </div>
    </section>
</main>
{% endblock %}